<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749748209576-okn01rteb3r25181t6cf9qpofjru5if6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749748209576-okn01rteb3r25181t6cf9qpofjru5if6</string>
	<key>API_KEY</key>
	<string>AIzaSyCIJ3dUakPuW8bCQvMMSeCRHcNV_xOeapQ</string>
	<key>GCM_SENDER_ID</key>
	<string>749748209576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freetek.app-gmail.com.Corona-Help</string>
	<key>PROJECT_ID</key>
	<string>free-from-corona-virus</string>
	<key>STORAGE_BUCKET</key>
	<string>free-from-corona-virus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749748209576:ios:8eba2de7525a414419ff9d</string>
	<key>DATABASE_URL</key>
	<string>https://free-from-corona-virus.firebaseio.com</string>
</dict>
</plist>